<div class="container">
  <h1>{{ title }}</h1>
  <div class="button-group">
    <button class="btn" (click)="showForm('contabilidad')">Contabilidad</button>
    <button class="btn" (click)="showForm('auditorias')">Auditorías</button>
    <button class="btn" (click)="showForm('revisorias')">Revisorías Fiscales</button>
  </div>

  <div *ngIf="selectedForm === 'contabilidad'" class="form-container">
    <h2>Contabilidad</h2>
    <form (submit)="onSubmit($event)">
      <label for="extractos">Extractos Bancarios (PDF):</label>
      <input type="file" id="extractos" accept=".pdf" required>

      <label for="plantillas">Plantillas (PDF):</label>
      <input type="file" id="plantillas" accept=".pdf" required>

      <button type="submit" class="submit-btn">Enviar</button>
    </form>
  </div>

  <div *ngIf="selectedForm === 'auditorias'" class="form-container">
    <h2>Auditorías</h2>
    <form (submit)="onSubmit($event)">
      <label for="auxiliares">Auxiliares (PDF):</label>
      <input type="file" id="auxiliares" accept=".pdf" required>

      <label for="balances">Balances de Prueba (PDF):</label>
      <input type="file" id="balances" accept=".pdf" required>

      <label for="facturasCompra">Facturas de Compra (PDF):</label>
      <input type="file" id="facturasCompra" accept=".pdf" required>

      <label for="ingresosAud">Ingresos (PDF):</label>
      <input type="file" id="ingresosAud" accept=".pdf" required>

      <button type="submit" class="submit-btn">Enviar</button>
    </form>
  </div>

  <div *ngIf="selectedForm === 'revisorias'" class="form-container">
    <h2>Revisorías Fiscales</h2>
    <form (submit)="onSubmit($event)">
      <label for="auxiliaresRev">Auxiliares (PDF):</label>
      <input type="file" id="auxiliaresRev" accept=".pdf" required>

      <label for="balancesRev">Balances de Prueba (PDF):</label>
      <input type="file" id="balancesRev" accept=".pdf" required>

      <label for="facturasCompraRev">Facturas de Compra (PDF):</label>
      <input type="file" id="facturasCompraRev" accept=".pdf" required>

      <label for="ingresosRev">Ingresos (PDF):</label>
      <input type="file" id="ingresosRev" accept=".pdf" required>

      <button type="submit" class="submit-btn">Enviar</button>
    </form>
  </div>
</div>
